<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LagoVista.Core" version="2.1.346-beta1435" targetFramework="net461" />
  <package id="LagoVista.IoT.Deployment.Models" version="2.1.346-beta1435" targetFramework="net461" />
  <package id="LagoVista.IoT.Logging" version="2.1.346-beta1435" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.1" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.1" targetFramework="net461" />
</packages>