<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuviot" value="https://nuget.pkg.github.com/nuviot/index.json" />
    <add key="nuviot-local" value="/var/lib/nuviot-build/workspaces/.nuget-local" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuviot">
      <package pattern="LagoVista.AspNetCore.AuthorizationServer" />
      <package pattern="LagoVista.AspNetCore.Identity" />
      <package pattern="LagoVista.CloudStorage" />
      <package pattern="LagoVista.Core" />
      <package pattern="LagoVista.Core.Authentication" />
      <package pattern="LagoVista.Core.Configuration" />
      <package pattern="LagoVista.Core.Diagnostics.ConsoleProxy" />
      <package pattern="LagoVista.Core.Networking" />
      <package pattern="LagoVista.Core.Rcg.Client" />
      <package pattern="LagoVista.Core.Retry" />
      <package pattern="LagoVista.Core.Rpc" />
      <package pattern="LagoVista.Core.Rpc.Client" />
      <package pattern="LagoVista.Core.Rpc.Server" />
      <package pattern="LagoVista.Core.TestBase" />
      <package pattern="LagoVista.Crypto" />
      <package pattern="LagoVista.IoT.Logging" />
      <package pattern="LagoVista.IoT.Logging.Rest" />
      <package pattern="LagoVista.IoT.Web.Common" />
      <package pattern="LagoVista.JobManager" />
      <package pattern="LagoVista.JobManager.Models" />
      <package pattern="LagoVista.JobManager.Repos" />
      <package pattern="LagoVista.JobManager.Rest" />
      <package pattern="LagoVista.LogZIO" />
      <package pattern="LagoVista.MessageQueue.Rabbit" />
      <package pattern="LagoVista.Net.LetsEncrypt" />
      <package pattern="LagoVista.PDFServices" />
      <package pattern="LagoVista.Relational" />
      <package pattern="LagoVista.Relational.Tests.Core" />
      <package pattern="LagoVista.UserAdmin" />
      <package pattern="LagoVista.UserAdmin.Models" />
      <package pattern="LagoVista.UserAdmin.Repos" />
      <package pattern="UserAdmin.RepoTest" />
      <package pattern="LagoVista.AI" />
      <package pattern="LagoVista.AI.CloudRepos" />
      <package pattern="LagoVista.AI.Models" />
      <package pattern="LagoVista.AI.Rest" />
      <package pattern="LagoVista.Campaigns" />
      <package pattern="LagoVista.Campaigns.Models" />
      <package pattern="LagoVista.Campaigns.Repos" />
      <package pattern="LagoVista.Campaigns.Rest" />
      <package pattern="LagoVista.Configuration" />
      <package pattern="LagoVista.Configuration.Client" />
      <package pattern="LagoVista.Configuration.Models" />
      <package pattern="LagoVista.Configuration.Rabbit" />
      <package pattern="LagoVista.Configuration.Repos" />
      <package pattern="LagoVista.Configuration.Rest" />
      <package pattern="LagoVista.Core.BackgroundProcessing" />
      <package pattern="LagoVista.DocSigning" />
      <package pattern="LagoVista.DocSigning.Models" />
      <package pattern="LagoVista.DocSigning.Repos" />
      <package pattern="LagoVista.DocSigning.Rest" />
      <package pattern="LagoVista.FSLite.Admin" />
      <package pattern="LagoVista.FSLite.CloudRepos" />
      <package pattern="LagoVista.FSLite.Models" />
      <package pattern="LagoVista.FSLite.Rest" />
      <package pattern="LagoVista.GCode" />
      <package pattern="LagoVista.IoT.Billing.Managers" />
      <package pattern="LagoVista.IoT.Billing.Models" />
      <package pattern="LagoVista.IoT.Billing.Repos" />
      <package pattern="LagoVista.IoT.Billing.Rest" />
      <package pattern="LagoVista.IoT.DataStreamConnectors" />
      <package pattern="LagoVista.IoT.DependencyManager" />
      <package pattern="LagoVista.IoT.Deployment.Admin" />
      <package pattern="LagoVista.IoT.Deployment.Admin.Rest" />
      <package pattern="LagoVista.IoT.Deployment.CloudRepos" />
      <package pattern="LagoVista.IoT.Deployment.Models" />
      <package pattern="LagoVista.IoT.DeviceAdmin" />
      <package pattern="LagoVista.IoT.DeviceAdmin.Models" />
      <package pattern="LagoVista.IoT.DeviceAdmin.Repo" />
      <package pattern="LagoVista.IoT.DeviceAdmin.Rest" />
      <package pattern="LagoVista.IoT.DeviceManagement.Core" />
      <package pattern="LagoVista.IoT.DeviceManagement.Models" />
      <package pattern="LagoVista.IoT.DeviceManagement.Repos" />
      <package pattern="LagoVista.IoT.DeviceManagement.Rest" />
      <package pattern="LagoVista.IoT.DeviceMessaging.Admin" />
      <package pattern="LagoVista.IoT.DeviceMessaging.CloudRepos" />
      <package pattern="LagoVista.IoT.DeviceMessaging.Models" />
      <package pattern="LagoVista.IoT.DeviceMessaging.Rest" />
      <package pattern="LagoVista.IoT.GeoNavigation" />
      <package pattern="LagoVista.IoT.GeoNavigation.Models" />
      <package pattern="LagoVista.IoT.GeoNavigation.Repos" />
      <package pattern="LagoVista.IoT.GeoNavigation.Rest" />
      <package pattern="LagoVista.IoT.LabelServices" />
      <package pattern="LagoVista.IoT.LabelServices.Rest" />
      <package pattern="LagoVista.IoT.Parsers" />
      <package pattern="LagoVista.IoT.Pipeline.Admin" />
      <package pattern="LagoVista.IoT.Pipeline.Admin.Rest" />
      <package pattern="LagoVista.IoT.Pipeline.CloudRepos" />
      <package pattern="LagoVista.IoT.Pipeline.Models" />
      <package pattern="LagoVista.IoT.RabbitMQNotificationPublisher" />
      <package pattern="LagoVista.IoT.ReportingServices" />
      <package pattern="LagoVista.IoT.ReportingServices.CloudRepos" />
      <package pattern="LagoVista.IoT.ReportingServices.Models" />
      <package pattern="LagoVista.IoT.ReportingServices.Rest" />
      <package pattern="LagoVista.IoT.Runtime.Core" />
      <package pattern="LagoVista.IoT.RuntimeTokenManager" />
      <package pattern="LagoVista.IoT.SecurityManager" />
      <package pattern="LagoVista.IoT.Simulator.Admin" />
      <package pattern="LagoVista.IoT.Simulator.Admin.Rest" />
      <package pattern="LagoVista.IoT.Simulator.CloudRepos" />
      <package pattern="LagoVista.IoT.Simulator.Models" />
      <package pattern="LagoVista.IoT.StarterKit" />
      <package pattern="LagoVista.IoT.StarterKit.Rest" />
      <package pattern="LagoVista.IoT.StarterKits.CloudRepos" />
      <package pattern="LagoVista.IoT.Verifiers" />
      <package pattern="LagoVista.IoT.Verifiers.CloudRepos" />
      <package pattern="LagoVista.IoT.Verifiers.Rest" />
      <package pattern="LagoVista.IoT.Web.Controllers" />
      <package pattern="LagoVista.IoT.WebHost.Common" />
      <package pattern="LagoVista.Manufacturing" />
      <package pattern="LagoVista.Manufacturing.Models" />
      <package pattern="LagoVista.Manufacturing.Repos" />
      <package pattern="LagoVista.Manufacturing.Rest" />
      <package pattern="LagoVista.Marketing" />
      <package pattern="LagoVista.Marketing.Models" />
      <package pattern="LagoVista.Marketing.Repos" />
      <package pattern="LagoVista.Marketing.Rest" />
      <package pattern="LagoVista.MediaServices" />
      <package pattern="LagoVista.MediaServices.CloudRepos" />
      <package pattern="LagoVista.MediaServices.Models" />
      <package pattern="LagoVista.MediaServices.Rest" />
      <package pattern="LagoVista.MSDMarkwort.Kicad.Parser.Base" />
      <package pattern="LagoVista.MSDMarkwort.Kicad.Parser.Model" />
      <package pattern="LagoVista.MSDMarkwort.Kicad.Parser.PcbNew" />
      <package pattern="LagoVista.NotificationServer" />
      <package pattern="LagoVista.PCB.Eagle" />
      <package pattern="LagoVista.Products" />
      <package pattern="LagoVista.Products.Models" />
      <package pattern="LagoVista.Products.Repos" />
      <package pattern="LagoVista.Products.Rest" />
      <package pattern="LagoVista.ProjectManagement.CloudRepos" />
      <package pattern="LagoVista.ProjectManagement.Core" />
      <package pattern="LagoVista.ProjectManagement.Models" />
      <package pattern="LagoVista.ProjectManagement.Rest" />
      <package pattern="LagoVista.SecureStorage" />
      <package pattern="LagoVista.UI.ViewManager" />
      <package pattern="LagoVista.UI.ViewManager.CloudRepos" />
      <package pattern="LagoVista.UI.ViewManager.Models" />
      <package pattern="LagoVista.UI.ViewManager.Rest" />
      <package pattern="LagoVista.UserAdmin.Rest" />
      <package pattern="Marketing.RepoTests" />
      <package pattern="Products.RepoTests" />
    </packageSource>
    <packageSource key="nuviot-local">
      <package pattern="LagoVista.AspNetCore.AuthorizationServer" />
      <package pattern="LagoVista.AspNetCore.Identity" />
      <package pattern="LagoVista.CloudStorage" />
      <package pattern="LagoVista.Core" />
      <package pattern="LagoVista.Core.Authentication" />
      <package pattern="LagoVista.Core.Configuration" />
      <package pattern="LagoVista.Core.Diagnostics.ConsoleProxy" />
      <package pattern="LagoVista.Core.Networking" />
      <package pattern="LagoVista.Core.Rcg.Client" />
      <package pattern="LagoVista.Core.Retry" />
      <package pattern="LagoVista.Core.Rpc" />
      <package pattern="LagoVista.Core.Rpc.Client" />
      <package pattern="LagoVista.Core.Rpc.Server" />
      <package pattern="LagoVista.Core.TestBase" />
      <package pattern="LagoVista.Crypto" />
      <package pattern="LagoVista.IoT.Logging" />
      <package pattern="LagoVista.IoT.Logging.Rest" />
      <package pattern="LagoVista.IoT.Web.Common" />
      <package pattern="LagoVista.JobManager" />
      <package pattern="LagoVista.JobManager.Models" />
      <package pattern="LagoVista.JobManager.Repos" />
      <package pattern="LagoVista.JobManager.Rest" />
      <package pattern="LagoVista.LogZIO" />
      <package pattern="LagoVista.MessageQueue.Rabbit" />
      <package pattern="LagoVista.Net.LetsEncrypt" />
      <package pattern="LagoVista.PDFServices" />
      <package pattern="LagoVista.Relational" />
      <package pattern="LagoVista.Relational.Tests.Core" />
      <package pattern="LagoVista.UserAdmin" />
      <package pattern="LagoVista.UserAdmin.Models" />
      <package pattern="LagoVista.UserAdmin.Repos" />
      <package pattern="UserAdmin.RepoTest" />
      <package pattern="LagoVista.AI" />
      <package pattern="LagoVista.AI.CloudRepos" />
      <package pattern="LagoVista.AI.Models" />
      <package pattern="LagoVista.AI.Rest" />
      <package pattern="LagoVista.Campaigns" />
      <package pattern="LagoVista.Campaigns.Models" />
      <package pattern="LagoVista.Campaigns.Repos" />
      <package pattern="LagoVista.Campaigns.Rest" />
      <package pattern="LagoVista.Configuration" />
      <package pattern="LagoVista.Configuration.Client" />
      <package pattern="LagoVista.Configuration.Models" />
      <package pattern="LagoVista.Configuration.Rabbit" />
      <package pattern="LagoVista.Configuration.Repos" />
      <package pattern="LagoVista.Configuration.Rest" />
      <package pattern="LagoVista.Core.BackgroundProcessing" />
      <package pattern="LagoVista.DocSigning" />
      <package pattern="LagoVista.DocSigning.Models" />
      <package pattern="LagoVista.DocSigning.Repos" />
      <package pattern="LagoVista.DocSigning.Rest" />
      <package pattern="LagoVista.FSLite.Admin" />
      <package pattern="LagoVista.FSLite.CloudRepos" />
      <package pattern="LagoVista.FSLite.Models" />
      <package pattern="LagoVista.FSLite.Rest" />
      <package pattern="LagoVista.GCode" />
      <package pattern="LagoVista.IoT.Billing.Managers" />
      <package pattern="LagoVista.IoT.Billing.Models" />
      <package pattern="LagoVista.IoT.Billing.Repos" />
      <package pattern="LagoVista.IoT.Billing.Rest" />
      <package pattern="LagoVista.IoT.DataStreamConnectors" />
      <package pattern="LagoVista.IoT.DependencyManager" />
      <package pattern="LagoVista.IoT.Deployment.Admin" />
      <package pattern="LagoVista.IoT.Deployment.Admin.Rest" />
      <package pattern="LagoVista.IoT.Deployment.CloudRepos" />
      <package pattern="LagoVista.IoT.Deployment.Models" />
      <package pattern="LagoVista.IoT.DeviceAdmin" />
      <package pattern="LagoVista.IoT.DeviceAdmin.Models" />
      <package pattern="LagoVista.IoT.DeviceAdmin.Repo" />
      <package pattern="LagoVista.IoT.DeviceAdmin.Rest" />
      <package pattern="LagoVista.IoT.DeviceManagement.Core" />
      <package pattern="LagoVista.IoT.DeviceManagement.Models" />
      <package pattern="LagoVista.IoT.DeviceManagement.Repos" />
      <package pattern="LagoVista.IoT.DeviceManagement.Rest" />
      <package pattern="LagoVista.IoT.DeviceMessaging.Admin" />
      <package pattern="LagoVista.IoT.DeviceMessaging.CloudRepos" />
      <package pattern="LagoVista.IoT.DeviceMessaging.Models" />
      <package pattern="LagoVista.IoT.DeviceMessaging.Rest" />
      <package pattern="LagoVista.IoT.GeoNavigation" />
      <package pattern="LagoVista.IoT.GeoNavigation.Models" />
      <package pattern="LagoVista.IoT.GeoNavigation.Repos" />
      <package pattern="LagoVista.IoT.GeoNavigation.Rest" />
      <package pattern="LagoVista.IoT.LabelServices" />
      <package pattern="LagoVista.IoT.LabelServices.Rest" />
      <package pattern="LagoVista.IoT.Parsers" />
      <package pattern="LagoVista.IoT.Pipeline.Admin" />
      <package pattern="LagoVista.IoT.Pipeline.Admin.Rest" />
      <package pattern="LagoVista.IoT.Pipeline.CloudRepos" />
      <package pattern="LagoVista.IoT.Pipeline.Models" />
      <package pattern="LagoVista.IoT.RabbitMQNotificationPublisher" />
      <package pattern="LagoVista.IoT.ReportingServices" />
      <package pattern="LagoVista.IoT.ReportingServices.CloudRepos" />
      <package pattern="LagoVista.IoT.ReportingServices.Models" />
      <package pattern="LagoVista.IoT.ReportingServices.Rest" />
      <package pattern="LagoVista.IoT.Runtime.Core" />
      <package pattern="LagoVista.IoT.RuntimeTokenManager" />
      <package pattern="LagoVista.IoT.SecurityManager" />
      <package pattern="LagoVista.IoT.Simulator.Admin" />
      <package pattern="LagoVista.IoT.Simulator.Admin.Rest" />
      <package pattern="LagoVista.IoT.Simulator.CloudRepos" />
      <package pattern="LagoVista.IoT.Simulator.Models" />
      <package pattern="LagoVista.IoT.StarterKit" />
      <package pattern="LagoVista.IoT.StarterKit.Rest" />
      <package pattern="LagoVista.IoT.StarterKits.CloudRepos" />
      <package pattern="LagoVista.IoT.Verifiers" />
      <package pattern="LagoVista.IoT.Verifiers.CloudRepos" />
      <package pattern="LagoVista.IoT.Verifiers.Rest" />
      <package pattern="LagoVista.IoT.Web.Controllers" />
      <package pattern="LagoVista.IoT.WebHost.Common" />
      <package pattern="LagoVista.Manufacturing" />
      <package pattern="LagoVista.Manufacturing.Models" />
      <package pattern="LagoVista.Manufacturing.Repos" />
      <package pattern="LagoVista.Manufacturing.Rest" />
      <package pattern="LagoVista.Marketing" />
      <package pattern="LagoVista.Marketing.Models" />
      <package pattern="LagoVista.Marketing.Repos" />
      <package pattern="LagoVista.Marketing.Rest" />
      <package pattern="LagoVista.MediaServices" />
      <package pattern="LagoVista.MediaServices.CloudRepos" />
      <package pattern="LagoVista.MediaServices.Models" />
      <package pattern="LagoVista.MediaServices.Rest" />
      <package pattern="LagoVista.MSDMarkwort.Kicad.Parser.Base" />
      <package pattern="LagoVista.MSDMarkwort.Kicad.Parser.Model" />
      <package pattern="LagoVista.MSDMarkwort.Kicad.Parser.PcbNew" />
      <package pattern="LagoVista.NotificationServer" />
      <package pattern="LagoVista.PCB.Eagle" />
      <package pattern="LagoVista.Products" />
      <package pattern="LagoVista.Products.Models" />
      <package pattern="LagoVista.Products.Repos" />
      <package pattern="LagoVista.Products.Rest" />
      <package pattern="LagoVista.ProjectManagement.CloudRepos" />
      <package pattern="LagoVista.ProjectManagement.Core" />
      <package pattern="LagoVista.ProjectManagement.Models" />
      <package pattern="LagoVista.ProjectManagement.Rest" />
      <package pattern="LagoVista.SecureStorage" />
      <package pattern="LagoVista.UI.ViewManager" />
      <package pattern="LagoVista.UI.ViewManager.CloudRepos" />
      <package pattern="LagoVista.UI.ViewManager.Models" />
      <package pattern="LagoVista.UI.ViewManager.Rest" />
      <package pattern="LagoVista.UserAdmin.Rest" />
      <package pattern="Marketing.RepoTests" />
      <package pattern="Products.RepoTests" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>