<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuviot" value="https://nuget.pkg.github.com/nuviot/index.json" />
    <add key="nuviot-local" value="/var/lib/nuviot-build/workspaces/.nuget-local" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuviot">
      <package pattern="LagoVista.AspNetCore.AuthorizationServer" />
      <package pattern="LagoVista.AspNetCore.Identity" />
      <package pattern="LagoVista.CloudStorage" />
      <package pattern="LagoVista.Core" />
      <package pattern="LagoVista.Core.Authentication" />
      <package pattern="LagoVista.Core.Configuration" />
      <package pattern="LagoVista.Core.Diagnostics.ConsoleProxy" />
      <package pattern="LagoVista.Core.Networking" />
      <package pattern="LagoVista.Core.Rcg.Client" />
      <package pattern="LagoVista.Core.Retry" />
      <package pattern="LagoVista.Core.Rpc" />
      <package pattern="LagoVista.Core.Rpc.Client" />
      <package pattern="LagoVista.Core.Rpc.Server" />
      <package pattern="LagoVista.Core.TestBase" />
      <package pattern="LagoVista.Crypto" />
      <package pattern="LagoVista.IoT.Logging" />
      <package pattern="LagoVista.IoT.Logging.Rest" />
      <package pattern="LagoVista.IoT.Web.Common" />
      <package pattern="LagoVista.JobManager" />
      <package pattern="LagoVista.JobManager.Models" />
      <package pattern="LagoVista.JobManager.Repos" />
      <package pattern="LagoVista.JobManager.Rest" />
      <package pattern="LagoVista.LogZIO" />
      <package pattern="LagoVista.MessageQueue.Rabbit" />
      <package pattern="LagoVista.Net.LetsEncrypt" />
      <package pattern="LagoVista.PDFServices" />
      <package pattern="LagoVista.Relational" />
      <package pattern="LagoVista.Relational.Tests.Core" />
      <package pattern="LagoVista.UserAdmin" />
      <package pattern="LagoVista.UserAdmin.Models" />
      <package pattern="LagoVista.UserAdmin.Repos" />
      <package pattern="UserAdmin.RepoTest" />
    </packageSource>
    <packageSource key="nuviot-local">
      <package pattern="LagoVista.AspNetCore.AuthorizationServer" />
      <package pattern="LagoVista.AspNetCore.Identity" />
      <package pattern="LagoVista.CloudStorage" />
      <package pattern="LagoVista.Core" />
      <package pattern="LagoVista.Core.Authentication" />
      <package pattern="LagoVista.Core.Configuration" />
      <package pattern="LagoVista.Core.Diagnostics.ConsoleProxy" />
      <package pattern="LagoVista.Core.Networking" />
      <package pattern="LagoVista.Core.Rcg.Client" />
      <package pattern="LagoVista.Core.Retry" />
      <package pattern="LagoVista.Core.Rpc" />
      <package pattern="LagoVista.Core.Rpc.Client" />
      <package pattern="LagoVista.Core.Rpc.Server" />
      <package pattern="LagoVista.Core.TestBase" />
      <package pattern="LagoVista.Crypto" />
      <package pattern="LagoVista.IoT.Logging" />
      <package pattern="LagoVista.IoT.Logging.Rest" />
      <package pattern="LagoVista.IoT.Web.Common" />
      <package pattern="LagoVista.JobManager" />
      <package pattern="LagoVista.JobManager.Models" />
      <package pattern="LagoVista.JobManager.Repos" />
      <package pattern="LagoVista.JobManager.Rest" />
      <package pattern="LagoVista.LogZIO" />
      <package pattern="LagoVista.MessageQueue.Rabbit" />
      <package pattern="LagoVista.Net.LetsEncrypt" />
      <package pattern="LagoVista.PDFServices" />
      <package pattern="LagoVista.Relational" />
      <package pattern="LagoVista.Relational.Tests.Core" />
      <package pattern="LagoVista.UserAdmin" />
      <package pattern="LagoVista.UserAdmin.Models" />
      <package pattern="LagoVista.UserAdmin.Repos" />
      <package pattern="UserAdmin.RepoTest" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>